        {% extends 'base.html' %}
        {% block title %}Maps{% endblock %}
        {% block header %}
        <h1>Chicago Maps</h1>
        {% endblock %}

        {% block main %}
        <div class='main'>
        <p>I've been pulling data from the <a href="https://data.cityofchicago.org">City of Chicago Data Portal</a> and plotting it on Google Maps in my spare time.</p>

            <ul>
            <li><a href="/libraries">Libraries</a></li>
            <li><a href="/police">Police Stations</a></li>
            <li><a href="/fire">Fire Stations</a></li>
            <li><a href="/all">All in one</a></li>
            </ul>
        
        </div>
        {% endblock %}

        {% block footer %}
        {% endblock %}
