        {% extends 'base.html' %}

        {% block header %}
        <h1>Chicago Public Library Locations</h1>
        {% endblock %}

        {% block mapscript %}
        <script type="text/javascript">
            var infowindow = null;

            function initialize() {
                var mapOptions = {
                    center: new google.maps.LatLng(41.87886, -87.635837), zoom: 10, mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                {% for library in libs %}
                placemarker(new google.maps.LatLng({{ library.lat }}, {{ library.lng }}), map, "<h3><a href='{{ library.url }}'>{{ library.location }}</a></h3><br />{{ library.address }}<br>{{ library.phone }}<br>{{ library.hours }}" ); 
                {% endfor %}
            }

            function placemarker(location, map, address) {
                    marker = new google.maps.Marker({ position: location, map: map }); 
                    google.maps.event.addListener(marker, 'click', function() { 
                        if(infowindow){ infowindow.close(); }
                        infowindow = new google.maps.InfoWindow({ content: address, size: new google.maps.Size(50,50) }); 
                        infowindow.open(map, this); 
                    });
            }
        </script>
        {% endblock %}

        {% block footer %}
        <p>Created by <a href="http://duanehilton.com">Duane Hilton</a></p>
        {% endblock %}
